html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  padding: .75em;
}

.banner {
  grid-column: auto;
  font-family: "Denk One";
}

h1 {
  font-family: "Denk one", sans-serif;
  color: #623b0c;
  margin: .3em 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  gap: 1rem;
  list-style: none;
  padding-top: .6em;
  padding-left: 0;
  margin: .3em;
}

h2 {
  font-family: "Denk one", sans-serif;
  color: #623b0c;
  margin-top: .2em;
}

p {
  font-weight: normal;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

li {
  display: flex;
  border-radius: 8px;
  background: #ede3db;
  flex-direction: column;
  padding: 1em;
  border: 2px solid #623b0c;
}

img {
  width: 100%;
  display: block;
}

a {
  color: #fff;
  background: #623b0c;
  border-radius: 8px;
  justify-content: space-around;
  margin-top: auto;
  padding: .6em;
  text-decoration: none;
}
